apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: shazam-api-hpa
  namespace: shazam
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: shazam-api
  minReplicas: 2
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 60
